{
    "AuxAudioDevice1": {
        "deinterlace_field_order": 0,
        "deinterlace_mode": 0,
        "enabled": true,
{% if room_type == "EH2" %}
        "flags": 2,
{% else %}
        "flags": 0,
{% endif %}
        "hotkeys": {
            "libobs.mute": [],
            "libobs.push-to-mute": [],
            "libobs.push-to-talk": [],
            "libobs.unmute": []
        },
        "id": "pulse_input_capture",
        "mixers": 255,
        "monitoring_type": {{ monitoring_type }},
        "muted": false,
        "name": "Microphone",
        "private_settings": {},
        "push-to-mute": false,
        "push-to-mute-delay": 0,
        "push-to-talk": false,
        "push-to-talk-delay": 0,
        "settings": {
{% if room_type == "EH2" %}
            "device_id": "alsa_input.usb-Burr-Brown_from_TI_USB_Audio_CODEC-00.analog-stereo"
{% elif room_type == "TR9" %}
            "device_id": "alsa_input.pci-0000_00_1b.0.analog-stereo"
{% else %}
            "device_id": "alsa_input.pci-0000_00_1b.0.analog-stereo"
{% endif %}
        },
        "sync": 0,
        "volume": 1.0
    },
    "AuxAudioDevice2": {
        "deinterlace_field_order": 0,
        "deinterlace_mode": 0,
        "enabled": true,
        "flags": 0,
        "hotkeys": {
            "libobs.mute": [],
            "libobs.push-to-mute": [],
            "libobs.push-to-talk": [],
            "libobs.unmute": []
        },
        "id": "pulse_input_capture",
        "mixers": 255,
        "monitoring_type": {{ monitoring_type }},
        "muted": false,
        "name": "Slides Audio",
        "private_settings": {},
        "push-to-mute": false,
        "push-to-mute-delay": 0,
        "push-to-talk": false,
        "push-to-talk-delay": 0,
        "settings": {
{% if room_type == "EH2" %}
            "device_id": "alsa_input.usb-VXIS_Inc_ACASIS-02.analog-stereo"
{% elif room_type == "TR9" %}
            "device_id": "alsa_input.usb-VXIS_Inc_ACASIS-02.analog-stereo"
{% else %}
            "device_id": "alsa_input.usb-VXIS_Inc_ACASIS-02.analog-stereo"
{% endif %}
        },
        "sync": 0,
        "volume": 1.0
    },
    "AuxAudioDevice3": {
        "deinterlace_field_order": 0,
        "deinterlace_mode": 0,
        "enabled": true,
        "flags": 0,
        "hotkeys": {
            "libobs.mute": [],
            "libobs.push-to-mute": [],
            "libobs.push-to-talk": [],
            "libobs.unmute": []
        },
        "id": "pulse_input_capture",
        "mixers": 255,
        "monitoring_type": {{ monitoring_type }},
        "muted": true,
        "name": "Emergency Audio",
        "private_settings": {},
        "push-to-mute": false,
        "push-to-mute-delay": 0,
        "push-to-talk": false,
        "push-to-talk-delay": 0,
        "settings": {
{% if room_type == "EH2" %}
            "device_id": "alsa_input.pci-0000_00_1b.0.analog-stereo"
{% elif room_type == "TR9" %}
            "device_id": "alsa_input.usb-046d_HD_Pro_Webcam_C920_CEB3336F-02.analog-stereo"
{% else %}
            "device_id": "alsa_input.usb-046d_HD_Pro_Webcam_C920_CEB3336F-02.analog-stereo"
{% endif %}
        },
        "sync": 0,
        "volume": 1.0
    },
    "current_program_scene": "Slides Primary 16:9",
    "current_scene": "Slides Primary 16:9",
    "current_transition": "Fade",
    "modules": {
        "output-timer": {
            "autoStartRecordTimer": false,
            "autoStartStreamTimer": false,
            "recordTimerHours": 0,
            "recordTimerMinutes": 0,
            "recordTimerSeconds": 30,
            "streamTimerHours": 0,
            "streamTimerMinutes": 0,
            "streamTimerSeconds": 30
        }
    },
    "name": "{{ event.id }}",
    "preview_locked": true,
    "quick_transitions": [
        {
            "duration": 300,
            "hotkeys": [],
            "id": 1,
            "name": "Cut"
        },
        {
            "duration": 300,
            "hotkeys": [],
            "id": 2,
            "name": "Fade"
        }
    ],
    "scaling_enabled": false,
    "scaling_level": 0,
    "scaling_off_x": 0.0,
    "scaling_off_y": 0.0,
    "scene_order": [
        {
            "name": "Camera Only"
        },
        {
            "name": "Slides Primary 16:9"
        },
        {
            "name": "Camera Primary 16:9"
        },
        {
            "name": "Slides Only 16:9"
        },
        {
            "name": "Slides Primary 4:3"
        },
        {
            "name": "Camera Primary 4:3"
        },
        {
            "name": "Slides Only 4:3"
        },
        {
            "name": "Blank"
        }
    ],
    "sources": [
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {},
            "id": "image_source",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Background (blank)",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "file": "{{ mixer_user.home }}/artwork/{{ event.id }}/blank.png",
                "unload": true
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F9"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Blank",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 1,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Background (blank)",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F7"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Slides Only 4:3",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 1,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1440.0,
                            "y": 1080.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Slides",
                        "pos": {
                            "x": 240.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F3"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Slides Only 16:9",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 1,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Slides",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F10"
                    },
                    {
                        "key": "OBS_KEY_F4"
                    },
                    {
                        "key": "OBS_KEY_F8"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Camera Only",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 1,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 3,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Camera",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "filters": [
                {
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "color_key_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Color Key",
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "key_color_type": "green",
                        "similarity": 1,
                        "smoothness": 1
                    },
                    "sync": 0,
                    "volume": 1.0
                }
            ],
            "flags": 0,
            "hotkeys": {},
            "id": "image_source",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Background (side-by-side-43-reverse)",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "file": "{{ mixer_user.home }}/artwork/{{ event.id }}/side-by-side-43-reverse.png",
                "unload": true
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F6"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Camera Primary 4:3",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 3,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1120.0,
                            "y": 1000.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 3,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 3,
                        "locked": true,
                        "name": "Camera",
                        "pos": {
                            "x": 40.0,
                            "y": 40.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 680.0,
                            "y": 510.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 2,
                        "locked": true,
                        "name": "Slides",
                        "pos": {
                            "x": 1200.0,
                            "y": 530.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Background (side-by-side-43-reverse)",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "filters": [
                {
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "color_key_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Color Key",
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "key_color_type": "green",
                        "similarity": 1,
                        "smoothness": 1
                    },
                    "sync": 0,
                    "volume": 1.0
                }
            ],
            "flags": 0,
            "hotkeys": {},
            "id": "image_source",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Background (side-by-side-43)",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "file": "{{ mixer_user.home }}/artwork/{{ event.id }}/side-by-side-43.png",
                "unload": true
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F5"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Slides Primary 4:3",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 3,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 480.0,
                            "y": 420.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 3,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Camera",
                        "pos": {
                            "x": 1400.0,
                            "y": 620.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1320.0,
                            "y": 990.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 2,
                        "locked": true,
                        "name": "Slides",
                        "pos": {
                            "x": 40.0,
                            "y": 40.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.5,
                            "y": 1.5
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 3,
                        "locked": true,
                        "name": "Background (side-by-side-43)",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F1"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Slides Primary 16:9",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 7,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 300.0,
                            "y": 420.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 3,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 4,
                        "locked": true,
                        "name": "Camera",
                        "pos": {
                            "x": 1580.0,
                            "y": 620.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1501.0,
                            "y": 844.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 2,
                        "locked": true,
                        "name": "Slides",
                        "pos": {
                            "x": 40.0,
                            "y": 40.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 3,
                        "locked": true,
                        "name": "Background (side-by-side)",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {},
            "id": "v4l2_input",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Slides",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "buffering": true,
{% if room_type == "EH2" %}
                "device_id": "/dev/v4l/by-id/usb-VXIS_Inc_ACASIS-video-index0",
{% elif room_type == "TR9" %}
                "device_id": "/dev/v4l/by-id/usb-VXIS_Inc_ACASIS-video-index0",
{% else %}
                "device_id": "/dev/v4l/by-id/usb-VXIS_Inc_ACASIS-video-index0",
{% endif %}
                "framerate": 65566,
                "input": 0,
                "pixelformat": 842093913,
                "resolution": 83886800
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "filters": [
                {
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "color_key_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Color Key",
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "key_color_type": "green",
                        "similarity": 1,
                        "smoothness": 1
                    },
                    "sync": 0,
                    "volume": 1.0
                }
            ],
            "flags": 0,
            "hotkeys": {},
            "id": "image_source",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Background (side-by-side)",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "file": "{{ mixer_user.home }}/artwork/{{ event.id }}/side-by-side.png",
                "unload": false
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {},
            "id": "v4l2_input",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Camera",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "buffering": true,
{% if room_type == "EH2" %}
                "device_id": "/dev/video0",
{% elif room_type == "TR9" %}
                "device_id": "/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_CEB3336F-video-index0",
{% else %}
                "device_id": "/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_CEB3336F-video-index0",
{% endif %}
                "framerate": 65566,
                "input": 0,
                "pixelformat": 842093913,
                "resolution": 41943520
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [
                    {
                        "key": "OBS_KEY_F2"
                    }
                ]
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Camera Primary 16:9",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "id_counter": 3,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1120.0,
                            "y": 1000.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 3,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 2,
                        "locked": true,
                        "name": "Camera",
                        "pos": {
                            "x": 40.0,
                            "y": 40.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 680.0,
                            "y": 383.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 3,
                        "locked": true,
                        "name": "Slides",
                        "pos": {
                            "x": 1200.0,
                            "y": 657.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "id": 1,
                        "locked": true,
                        "name": "Background (side-by-side-reverse)",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "volume": 1.0
        },
        {
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "filters": [
                {
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "color_key_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Color Key",
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "key_color_type": "green",
                        "similarity": 1,
                        "smoothness": 1
                    },
                    "sync": 0,
                    "volume": 1.0
                }
            ],
            "flags": 0,
            "hotkeys": {},
            "id": "image_source",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Background (side-by-side-reverse)",
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "file": "{{ mixer_user.home }}/artwork/{{ event.id }}/side-by-side-reverse.png",
                "unload": false
            },
            "sync": 0,
            "volume": 1.0
        }
    ],
    "transition_duration": 300,
    "transitions": []
}
