[General]
Name=1080p

[Video]
BaseCX=1920
BaseCY=1080
OutputCX=1920
OutputCY=1080

[Output]
Mode=Simple

[Audio]
SampleRate=48000

[Hotkeys]
OBSBasic.StartRecording={\n    "bindings": [\n        {\n            "control": true,\n            "key": "OBS_KEY_RETURN"\n        }\n    ]\n}
OBSBasic.StopRecording={\n    "bindings": [\n        {\n            "control": true,\n            "key": "OBS_KEY_BACKSPACE"\n        }\n    ]\n}
OBSBasic.Transition={\n    "bindings": [\n        {\n            "key": "OBS_KEY_RETURN"\n        }\n    ]\n}

[SimpleOutput]
RecFormat=mkv
RecQuality=Small
{% if record_fast %}
RecEncoder=x264_lowcpu
{% else %}
RecEncoder=x264
{% endif %}
FilePath={{ mixer_user.home }}/Videos/{{ event.id }}/{{ room_id }}

[AdvOut]
TrackIndex=1
RecType=Standard
RecTracks=1
FFOutputToFile=true
FFVEncoderId=0
FFAEncoderId=0
FFAudioTrack=1
