# MANAGED BY ANSIBLE

[Unit]
Description = voctomix source slides
After=network.target

[Service]
Type = simple
ExecStart = gst-launch-1.0 -v v4l2src device=/dev/v4l/by-id/usb-VXIS_Inc_ACASIS-video-index0 ! image/jpeg,width=1280,height=720,framerate=30/1 ! jpegparse ! jpegdec ! videoscale ! videoconvert ! video/x-raw,format=I420,width=1280,height=720,framerate=30/1,pixel-aspect-ratio=1/1,interlace-mode=progressive ! queue ! mux. alsasrc device=hw:CARD=ACASIS ! audio/x-raw,format=S16LE,rate=48000,channels=2 ! audioconvert mix-matrix="<<(float)0.0, (float)0.0>, <(float)0.0, (float)0.0>, <(float)1.0, (float)0.0>, <(float)0.0, (float)1.0>>" ! audio/x-raw,format=S16LE,rate=48000,channels=4 ! queue ! mux. matroskamux name=mux ! tcpclientsink host=localhost port=10001
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target
